.card.tab-container {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px !important;
  border: none;
  min-height: 250px !important;
}

.content-wrapper {
  margin-top: 0;
}

.imageSectCont {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fileinput {
  display: inline-block;
  margin-bottom: 0;
}

.fileinput input[type="file"] {
  display: none;
}

.fileinput .thumbnail.img-circle {
  border-radius: 50%;
  border: 4px solid #cccccc;
  margin-top: 20px;
  box-shadow: none;
}

.fileinput .thumbnail {
  display: inline-block;
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  max-width: 250px;
}

.fileinput .thumbnail>img {
  width: 80px;
  height: 80px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.avatarButton {
  border-radius: 30px;
  padding: 0.40625rem 1.25rem;
  font-size: 0.6875rem;
  line-height: 1.5;
  color: #FFF;
  border: none;
  cursor: pointer;
  margin: .3125rem 1px;
  position: relative;
  min-width: auto;
  box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14),
    0 3px 1px -2px rgba(153, 153, 153, 0.2),
    0 1px 5px 0 rgba(153, 153, 153, 0.12);
  min-height: auto;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: capitalize;
  vertical-align: middle;
  background-color: #999;
  text-decoration: none;
  outline: none !important;
}

.avatarButton:hover,
.avatarButton:focus {
  color: #FFF;
  box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
  background-color: #999;
}

.MuiButton-root:hover {
  text-decoration: none;
}

.avatarTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto",
    "Helvetica",
    "Arial",
    sans-serif;
}

.col-sm-6 {
  padding: 0 !important;
}

.col-sm-2 {
  padding: 0 !important;
}

.col-sm-4 {
  padding: 0 !important;
}

.col-sm-3.zip {
  padding: 0 !important;
}

.col-sm-12 {
  padding: 0 !important;
}

.TouchRipple-root {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  border-radius: inherit;
  pointer-events: none;
}

.grid-item.firstName {
  padding: 0 15px !important;
}

.griditem-twoLineCont-300 {
  display: flex;
  padding: 0 !important;
  justify-content: space-between;
}

.CustomInput-formControl-300 {
  position: relative;
  padding-top: 20px !important;
  vertical-align: unset;
}

.formControl-root {
  border: 0;
  margin: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
}

.CustomInput-labelRoot-300 {
  /* top: 5px; */
  color: #AAAAAA !important;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  font-family: "Roboto",
    "Helvetica",
    "Arial",
    sans-serif;
  font-weight: 400;
  line-height: 1.42857;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.CustomInput-labelRootSuccess-300 {
  color: #4caf50 !important;
}

.InputLabel-animated {
  transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}

.InputLabel-shrink {
  transform: translate(0, 1.5px) scale(0.75);
  transform-origin: top left;
}

.InputLabel-root {
  display: block;
  transform-origin: top left;
}

.InputBase-root {
  color: rgba(0, 0, 0, 0.87) !important;
  cursor: text;
  display: inline-flex;
  font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  font-family: "Roboto",
    "Helvetica",
    "Arial",
    sans-serif;
  line-height: 1.1875em;
}

.Input-root {
  position: relative;
}

.CustomInput-labelRoot-300+.CustomInput-underline-300 {
  margin-top: 0px;
}

/* .CustomInput-underline-300:hover:not(.CustomInput-disabled-300):before,
.CustomInput-underline-300:before {
  border-color: #D2D2D2 !important;
  border-width: 1px !important;
} */

.Input-underline:before {
  border-color: #D2D2D2 !important;
  border-width: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  content: "\00a0";
  position: absolute;
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  pointer-events: none;
}

.CustomInput-input-300::placeholder {
  color: #AAAAAA !important;
  opacity: 1;
  font-size: 14px !important;
  font-family: "Roboto",
    "Helvetica",
    "Arial",
    sans-serif !important;
  font-weight: 400 !important;
  line-height: 1.42857 !important;
}

.InputBase-input {
  font-size: 14px !important;
  outline: none;
  font: inherit;
  color: currentColor;
  width: 250px;
  border: 0;
  height: 1.1875em;
  margin: -2px 0 0 0;
  display: block;
  padding: 0px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  -webkit-tap-highlight-color: transparent;
  color: #495057 !important;
}

.Input-underline:after {
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  border-bottom: 2px solid #303f9f;
  pointer-events: none;
}

.griditem-twoLineCont-301 {
  display: flex;
  padding: 0 !important;
  justify-content: space-between;
}

.CustomInput-formControl-301 {
  position: relative;
  padding-top: 20px !important;
  vertical-align: unset;
}

.CustomInput-labelRoot-301 {
  /* top: 5px; */
  color: #AAAAAA !important;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  font-family: "Roboto",
    "Helvetica",
    "Arial",
    sans-serif;
  font-weight: 400;
  line-height: 1.42857;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.CustomInput-labelRootSuccess-301 {
  color: #4caf50 !important;
}

.CustomInput-labelRoot-301+.CustomInput-underline-301 {
  margin-top: 0px;
}

.CustomInput-input-301::placeholder {
  opacity: 1;
  color: #AAAAAA !important;
  font-size: 14px !important;
  font-family: "Roboto",
    "Helvetica",
    "Arial",
    sans-serif !important;
  font-weight: 400 !important;
  line-height: 1.42857 !important;
}

.grid-item.lastName {
  padding: 0 15px !important;
}

.grid-item.street {
  padding: 0 15px !important;
}

.griditem-twoLineCont-400 {
  display: flex;
  padding: 0 !important;
  justify-content: space-between;
}

.CustomInput-formControl-400 {
  position: relative;
  padding-top: 20px !important;
  vertical-align: unset;
}

.CustomInput-labelRoot-400 {
  /* top: 5px; */
  color: #AAAAAA !important;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  font-family: "Roboto",
    "Helvetica",
    "Arial",
    sans-serif;
  font-weight: 400;
  line-height: 1.42857;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.CustomInput-labelRootSuccess-400 {
  color: #4caf50 !important;
}

.CustomInput-labelRoot-400+.CustomInput-underline-400 {
  margin-top: 0px;
}

.CustomInput-input-400::placeholder {
  color: #AAAAAA !important;
  opacity: 1;
  font-size: 14px !important;
  font-family: "Roboto",
    "Helvetica",
    "Arial",
    sans-serif !important;
  font-weight: 400 !important;
  line-height: 1.42857 !important;
}

.grid-item.APT {
  padding: 0 15px !important;
}

.griditem-twoLineCont-401 {
  display: flex;
  padding: 0 !important;
  justify-content: space-between;
}

.CustomInput-formControl-401 {
  position: relative;
  padding-top: 20px !important;
  vertical-align: unset;
}

.CustomInput-labelRoot-401 {
  /* top: 5px; */
  color: #AAAAAA !important;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  font-family: "Roboto",
    "Helvetica",
    "Arial",
    sans-serif;
  font-weight: 401;
  line-height: 1.42857;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.CustomInput-labelRootSuccess-401 {
  color: #4caf50 !important;
}

.CustomInput-labelRoot-401+.CustomInput-underline-401 {
  margin-top: 0px;
}

.CustomInput-input-401::placeholder {
  color: #AAAAAA !important;
  opacity: 1;
  font-size: 14px !important;
  font-family: "Roboto",
    "Helvetica",
    "Arial",
    sans-serif !important;
  font-weight: 400 !important;
  line-height: 1.42857 !important;
}

.grid-item.city {
  padding: 0 15px !important;
}

.griditem-twoLineCont-500 {
  display: flex;
  padding: 0 !important;
  justify-content: space-between;
}

.CustomInput-formControl-500 {
  position: relative;
  padding-top: 20px !important;
  vertical-align: unset;
}

.CustomInput-labelRoot-500 {
  /* top: 5px; */
  color: #AAAAAA !important;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  font-family: "Roboto",
    "Helvetica",
    "Arial",
    sans-serif;
  font-weight: 500;
  line-height: 1.42857;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.CustomInput-labelRootSuccess-500 {
  color: #4caf50 !important;
}

.CustomInput-labelRoot-500+.CustomInput-underline-500 {
  margin-top: 0px;
}

.CustomInput-input-500::placeholder {
  color: #AAAAAA !important;
  opacity: 1;
  font-size: 14px !important;
  font-family: "Roboto",
    "Helvetica",
    "Arial",
    sans-serif !important;
  font-weight: 400 !important;
  line-height: 1.42857 !important;
}

.grid-item.email {
  padding: 0 15px !important;
}

.griditem-twoLineCont-501 {
  display: flex;
  padding: 0 !important;
  justify-content: space-between;
}

.CustomInput-formControl-501 {
  position: relative;
  padding-top: 20px !important;
  vertical-align: unset;
}

.CustomInput-labelRoot-501 {
  /* top: 5px; */
  color: #AAAAAA !important;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  font-family: "Roboto",
    "Helvetica",
    "Arial",
    sans-serif;
  font-weight: 500;
  line-height: 1.42857;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.CustomInput-labelRootSuccess-501 {
  color: #4caf50 !important;
}

.CustomInput-labelRoot-501+.CustomInput-underline-501 {
  margin-top: 0px;
}

.CustomInput-input-501::placeholder {
  color: #AAAAAA !important;
  opacity: 1;
  font-size: 14px !important;
  font-family: "Roboto",
    "Helvetica",
    "Arial",
    sans-serif !important;
  font-weight: 400 !important;
  line-height: 1.42857 !important;
}

.griditem-twoLineCont-502 {
  display: flex;
  padding: 0 !important;
  justify-content: space-between;
}

.CustomInput-formControl-502 {
  position: relative;
  padding-top: 20px !important;
  vertical-align: unset;
}

.CustomInput-labelRoot-502 {
  /* top: 5px; */
  color: #AAAAAA !important;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  font-family: "Roboto",
    "Helvetica",
    "Arial",
    sans-serif;
  font-weight: 500;
  line-height: 1.42857;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.CustomInput-labelRootSuccess-502 {
  color: #4caf50 !important;
}

.CustomInput-labelRoot-502+.CustomInput-underline-502 {
  margin-top: 0px;
}

.CustomInput-input-502::placeholder {
  color: #AAAAAA !important;
  opacity: 1;
  font-size: 14px !important;
  font-family: "Roboto",
    "Helvetica",
    "Arial",
    sans-serif !important;
  font-weight: 400 !important;
  line-height: 1.42857 !important;
}

.griditem-twoLineCont-600 {
  display: flex;
  padding: 0 !important;
  justify-content: space-between;
}

.CustomInput-formControl-600 {
  position: relative;
  padding-top: 20px !important;
  vertical-align: unset;
}

.CustomInput-labelRoot-600 {
  /* top: 5px; */
  color: #AAAAAA !important;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  font-family: "Roboto",
    "Helvetica",
    "Arial",
    sans-serif;
  font-weight: 500;
  line-height: 1.42857;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.CustomInput-labelRootSuccess-600 {
  color: #4caf50 !important;
}

.CustomInput-labelRoot-600+.CustomInput-underline-600 {
  margin-top: 0px;
}

.CustomInput-input-600::placeholder {
  color: #AAAAAA !important;
  opacity: 1;
  font-size: 14px !important;
  font-family: "Roboto",
    "Helvetica",
    "Arial",
    sans-serif !important;
  font-weight: 400 !important;
  line-height: 1.42857 !important;
}

.InputBase-input-email {
  font-size: 14px !important;
  outline: none;
  font: inherit;
  color: currentColor;
  width: 535px;
  border: 0;
  height: 1.1875em;
  margin: -2px 0 0 0;
  display: block;
  padding: 0px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  -webkit-tap-highlight-color: transparent;
  color: #495057 !important;
}